<div class="col-xs-12">
    <div *ngIf="user" class="panel panel-default margin-top-15 user-detail">
        <div class="panel-heading break-word">
            <span>{{ user.profile.name }}'s Detail</span>
            <button *ngIf="userId != user.id" type="button" class="btn btn-default btn-xs pull-right" tooltip="" [title]="'Message to ' + user.profile.name" [placement]="top" (click)="goChat(user.id)"><i class="fa fa-comment" aria-hidden="true"></i></button>
        </div>
        <div class="media">
            <div class="media-left">
                <img class="media-object" [avatar]="user.profile.avatar" src="">
            </div>
            <div class="media-body">
                <p><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> : {{ user.profile.genderName }}</p>
                <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> : {{ user.profile.email }}</p>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-default" (click)="goBack()" >Back</button>
            </div>
        </div>
    </div>
</div>