@mixin margin-left-right($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

@mixin margin-top-bottom($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin margin-top($top) {
    margin-top: $top;
}

@mixin margin-bottom($bottom) {
    margin-bottom: $bottom;
}

@mixin padding-left-right($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

@mixin padding-top-bottom($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

.margin-bottom-15 {
    @include margin-bottom(15px);
}

.padding-left-right-15 {
    @include padding-left-right(15px, 15px);
}

.margin-top-15 {
    @include margin-top(15px);
}

.margin-10 {
    margin: 10px;
}

.padding-10 {
    padding: 10px;
}

.break-word {
    word-wrap: break-word;
}

.pre-wrap {
    white-space: pre-wrap;
}

html {
    width: 100%;
}

body {
    font-size: 15px;
    padding-top: 70px;
}

button, a {
    outline: none !important;
}

.navbar {
    .navbar-brand {
        padding: 5px;
        img {
            max-height: 100%;
            position: relative;
        }
    }
    .navbar-nav {
        .dropdown-menu {
            width: 100%;
            min-width: 0px;
        }
        li > a.search-icon {
            font-size: 20px;
        }
    }

    .search-nav {
        float: right;
        margin-right: 10px;
        &.navbar-nav > li > a.search-icon {
            padding: 5px 10px;
            font-size: 20px;
        }
    }

    @media (min-width: 768px) {
        .search-nav {
            display: none;
        }
    }

    @media (max-width: 767px) {
        .search-wrap {
            display: none;
        }
    }
}

.nav-tabs-custom {
    &.nav-tabs {
        border-bottom: 1px solid #FFA767;
        >li>a {
            color: #777;
            border-width: 3px 1px 1px 1px;
        }
        >li.active>a, >li.active>a:focus, >li.active>a:hover {
            color: #EA6300;
            cursor: default;
            background-color: #fff;
            border: 1px solid #FFA767;
            border-width: 3px 1px 1px 1px;
            border-bottom-color: transparent;
        }
        li>a:hover {
            border-color: #FFA767 #FFA767 #FFA767;
        }
        >li>a:hover {
            color: #ffffff;
            text-decoration: none;
            background-color: #FFA767;
        }
    }
}

.search-form {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1031;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);

    &.search-open {
        -webkit-transform: translate(0px, 0px) scale(1, 1);
        -moz-transform: translate(0px, 0px) scale(1, 1);
        -o-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1);
        opacity: 1;
    }

    input[type="search"] {
        position: absolute;
        top: 50%;
        width: 100%;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0);
        font-size: 50px;
        font-weight: 300;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }

    .search-close {
        position: fixed;
        top: 15px;
        right: 15px;
        opacity: 1;
        padding: 5px 15px;
        font-size: 28px;
    }
}

/**
 * Angular2: Add Custom CSS for Visual Feedback;
 */
.ng-valid {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid, .invalid {
    border-left: 5px solid #a94442; /* red */
}

/**
 * Style of Form
 */
.form-header {
    margin: 15px auto;
    font-size: 20px;
    color: #666;
    text-align: center;
}
.form-error {
    font-size: 12px;
    margin-top: 5px;
    padding: 5px;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid transparent;
    border-color: #dca7a7;
    border-radius: 4px;
}

/**
 * User component
 */
.user-detail {
    .media {
        margin: 10px;
        word-break: break-all;
        .media-object {
            max-height: 64px;
            max-width: 64px;
        }
    }
}
ul.custom-pagination {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    clear: left;
    &:after {
        content: '';
        display: inherit;
    }
}
.username {
    word-wrap: break-word;
}
img.user-gender {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 0;
}

/**
 * Chat Component
 */
.direct-chat {
    .box-footer {
        padding: 5px 10px 10px;
    }
    .box-body {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        overflow-x: hidden;
        padding: 0;
    }
}
.direct-chat.chat-pane-open .direct-chat-contacts {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 300px;
    overflow: auto;
}
.direct-chat-msg,
.direct-chat-text {
    display: block;
    word-wrap: break-word;
}
.direct-chat-msg {
    margin-bottom: 10px;
}
.direct-chat-msg:before,
.direct-chat-msg:after {
    content: " ";
    display: table;
}
.direct-chat-msg:after {
    clear: both;
}
.direct-chat-messages,
.direct-chat-contacts {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444444;
}
.direct-chat-text:after,
.direct-chat-text:before {
    position: re;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}
.direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
}
.direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
}
.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0;
}
.right .direct-chat-text:after,
.right .direct-chat-text:before {
    right: auto;
    left: auto;
    border-right-color: transparent;
    border-left-color: #d2d6de;
}
.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
}
.right .direct-chat-img {
    float: right;
}
.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}
.direct-chat-name {
    font-weight: 600;
}
.direct-chat-timestamp {
    color: #999;
}
.direct-chat-contacts-open .direct-chat-contacts {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.direct-chat-contacts {
    // -webkit-transform: translate(101%, 0);
    // -ms-transform: translate(101%, 0);
    // -o-transform: translate(101%, 0);
    // transform: translate(101%, 0);
    position: relative;
    top: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    background: #fff;
    color: #fff;
    overflow: auto;
}
.contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.contacts-list > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0;
    &:hover {
        cursor: pointer;
    }
}
.contacts-list > li:before,
.contacts-list > li:after {
    content: " ";
    display: table;
}
.contacts-list > li:after {
    clear: both;
}
.contacts-list > li:last-of-type {
    border-bottom: none;
}
.contacts-list-img {
    border-radius: 50%;
    width: 40px;
    float: left;
}
.contacts-list-info {
    margin-left: 45px;
    color: #696666;
}
.contacts-list-name,
.contacts-list-status {
    display: block;
}
.contacts-list-name {
    font-weight: 600;
}
.contacts-list-status {
    font-size: 12px;
}
.contacts-list-date {
    color: #aaa;
    font-weight: normal;
}
.contacts-list-msg {
    color: #999;
    word-wrap: break-word;
}
.direct-chat-danger .right > .direct-chat-text {
    background: #dd4b39;
    border-color: #dd4b39;
    color: #ffffff;
}
.direct-chat-danger .right > .direct-chat-text:after,
.direct-chat-danger .right > .direct-chat-text:before {
    border-left-color: #dd4b39;
}
.direct-chat-primary .right > .direct-chat-text {
    background: #3c8dbc;
    border-color: #3c8dbc;
    color: #ffffff;
}
.direct-chat-primary .right > .direct-chat-text:after,
.direct-chat-primary .right > .direct-chat-text:before {
    border-left-color: #3c8dbc;
}
.direct-chat-warning .right > .direct-chat-text {
    background: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
}
.direct-chat-warning .right > .direct-chat-text:after,
.direct-chat-warning .right > .direct-chat-text:before {
    border-left-color: #f39c12;
}
.direct-chat-info .right > .direct-chat-text {
    background: #00c0ef;
    border-color: #00c0ef;
    color: #ffffff;
}
.direct-chat-info .right > .direct-chat-text:after,
.direct-chat-info .right > .direct-chat-text:before {
    border-left-color: #00c0ef;
}
.direct-chat-success .right > .direct-chat-text {
    background: #00a65a;
    border-color: #00a65a;
    color: #ffffff;
}
.direct-chat-success .right > .direct-chat-text:after,
.direct-chat-success .right > .direct-chat-text:before {
    border-left-color: #00a65a;
}

/**
 * Loading spinner
 */
.fetch-more {
    padding: 5px;
    display: block;
    .spinner {
        margin: 5px auto;
        height: 24px;
        text-align: center;
        font-size: 16px;
        >div {
            background-color: #2980b9;
            height: 100%;
            width: 6px;
            display: inline-block;

            -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
            animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }
        .rect2 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }
        .rect3 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
        .rect4 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }
        .rect5 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }
        @-webkit-keyframes sk-stretchdelay {
            0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
            20% { -webkit-transform: scaleY(1.0) }
        }
        @keyframes sk-stretchdelay {
            0%, 40%, 100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
            }  20% {
                transform: scaleY(1.0);
                -webkit-transform: scaleY(1.0);
            }
        }
    }
}